.person-form {
  margin: 20px 0;
  padding: 20px;
  background: #ddd;

  .first-name-field {
    padding: 4px 8px;
    width: 300px;
  }

  .submit-button {
    padding: 4px 8px;
    font-weight: bold;
  }
}
