<form
  (submit)="(!!data && data.id)? onUpdated($event) : onSubmitted($event)"
  [formGroup]="personForm"
  class="person-form"
>

  <input
    cleanSpecialChars
    type="text"
    formControlName="firstName"
    minlength="2"
    maxlength="50"
    required
    placeholder="Enter your name"
    (keydown.enter)="onSubmitted($event)"
    (keydown.esc)="onResetName($event)"
    class="first-name-field"
  >

  <button
    type="submit"
    [disabled]="personForm.invalid || !personForm.dirty"
    class="submit-button button"
  >
    {{!data || !data?.id ? 'Save' : 'Update'}}
  </button>

  <a
    *ngIf="data?.id"
    href="#"
    (click)="onCancelled($event); $event.stopPropagation(); "
    class="button"
  >cancel</a>
</form>
