<app-person-form
  (submitted)="saveNew($event)"
  btnText="Save"
></app-person-form>

<div
  class="delete-all-prompt"
  *ngIf="showDeleteAllPrompt"
>
  <b>Are you sure you want to delete all people?</b> &nbsp;
  <button (click)="deleteAll()">Delete</button> &nbsp;
  <button (click)="showDeleteAllPrompt = false">Cancel</button>
</div>

<div
  class="toolbar"
  *ngIf="!showDeleteAllPrompt"
>
  <button (click)="editAll()">Edit All</button>
  <button (click)="showDeleteAllPrompt=true">Delete All</button>
</div>

<app-person-table [data]="data"></app-person-table>
