.form-container {
  margin: 20px 0;
  padding: 20px;
  background: #ddd;
}

.delete-all-prompt {
  padding: 4px 12px;
  background: rgba(maroon, 0.1);

  .delete-button {
    background: maroon;
    color: #fff;
    border: none;
  }
}
