<table class="people-table">

  <tr class="title">
    <th class="check"><input
        (change)="toggleCheckboxAll()"
        [(ngModel)]="isSelectedAll"
        type="checkbox"
        #checkAll
      ></th>
    <th>Name</th>
    <th class="toolbar">Action</th>
  </tr>

  <tr
    *ngFor="let person of data"
    [class.selected]="person.checked"
    (click)="toggleCheckboxOne(person.id)"
  >

    <td
      class="check"
      [title]="person.id"
    ><input
        type="checkbox"
        [checked]="person.checked"
        (change)="toggleCheckboxOne(person.id)"
      ></td>

    <td>
      <div
        class="info"
        *ngIf="!person.editing"
      >
        {{person.name}}
      </div>
      <app-person-form
        *ngIf="person.editing"
        (submitted)="savePerson($event)"
        btnText="Save"
      ></app-person-form>
    </td>

    <td class="toolbar">
      <div
        class="row-toolbar"
        *ngIf="!person.editing"
      >
        <button (click)="person.editing = true">edit</button>
        <button (click)="deletePerson(person.id)">delete</button>
      </div>
    </td>
  </tr>
</table>
