<table class="people-table">

  <tr class="title">
    <th class="check"><input
        (change)="toggleCheckboxAll()"
        [(ngModel)]="isSelectedAll"
        type="checkbox"
        #checkAll
      ></th>
    <th>Name</th>
    <th class="toolbar">Action</th>
  </tr>

  <tr
    *ngFor="let person of data"
    [class.selected]="person.checked"
    (click)="toggleCheckboxOne(person.id)"
  >

    <td
      class="check"
      [title]="person.id"
    ><input
        type="checkbox"
        [checked]="person.checked"
        (click)="toggleCheckboxOne(person.id); $event.stopPropagation();"
      ></td>

    <td [attr.colspan]="person.editing ? 2 : 1">
      <div
        class="info"
        *ngIf="!person.editing"
      >
        {{person.name}}
      </div>
      <app-person-form
        *ngIf="person.editing"
        [data]="person"
        (submitted)="updatePerson($event); person.editing = false;"
        (cancelled)="person.editing = false"
        btnText="Save"
      ></app-person-form>
    </td>

    <td
      class="toolbar"
      *ngIf="!person.editing"
    >
      <div
        class="row-toolbar"
        *ngIf="!person.editing"
      >
        <button
          (click)="$event.stopPropagation(); person.editing = true;"
          class="button button-small"
        >edit</button>
        <button
          (click)="$event.stopPropagation(); deletePerson(person.id)"
          class="button button-small button-warning"
        >delete</button>
      </div>
    </td>
  </tr>
</table>
